.totalizing-value-payment-container {
    margin: auto;
    text-align: center;
    display: flex;
}

.payment-table {
    border-collapse: collapse;
    width: 50%;
    align-self: center;
    margin-top: 25vh;
}
  
.payment-table th, .payment-table td {
    border: 2px solid #ddd;
    padding: 8px;
}
  
.payment-table th {
    background-color: #f2f2f2;
}
  