.custom-modal {
  color: #ffffff; /* Cor do texto */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.custom-modal .modal-header {
  background: linear-gradient(45deg, #084177, #0be4a3, #09a1c7, #4715de);
  background-size: 300% 300%;
  animation: colors 25s ease infinite;
  color: #ffffff; /* Cor do texto do cabeçalho */
  border-bottom: 1px solid #09a1c7; /* Cor da borda inferior do cabeçalho */
}

@keyframes colors {
  
  0%{
      background-position: 0% 100%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0% 100%;
  }

}

.custom-modal .modal-footer {
  background: linear-gradient(45deg, #084177, #0be4a3, #09a1c7, #4715de);
  background-size: 300% 300%;
  animation: colors 25s ease infinite;
  color: #ffffff; /* Cor do texto do rodapé */
  border-top: 1px solid #09a1c7; /* Cor da borda superior do rodapé */
}

.custom-modal .modal-body {
  padding: 20px;
}

.custom-modal .form-group {
  margin-bottom: 15px;
}

.custom-modal .form-label {
  font-weight: bold;
  color: #000000; /* Cor do texto das labels do formulário */
}

.custom-modal .form-control {
  border: 1px solid #09a1c7; /* Cor da borda do campo de entrada */
  border-radius: 5px;
}

.custom-modal .btn-primary {
  background-color: #09a1c7; /* Cor de fundo do botão Entrar */
  border: 1px solid #084177; /* Cor da borda do botão Entrar */
}

.custom-modal .btn-primary:hover {
  background-color: #4715de; /* Cor de fundo do botão Entrar ao passar o mouse */
}

#loginError{
  color: #000000;
  display: none;
}
